body {
  background-color: white;
}
.subscribe-button {
  border: none;
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
}
.is-subscribed {
  background-color: rgb(240,240,240);
  color: black;
}
.cost-input {
  font-size: 15px;
  /*padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  */
  padding: 10px;
}

.calculate-button {
  border: none;
  background-color: green;
  color: white;
  font-size: 15px;
  /*padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  */
  padding: 12px 15px;
  cursor: pointer;
}
