body {
  background-color: white;
}
.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  height: 100px;
  width: 125px;
  border: none;
  border-radius: 30px;
  background-color: #000;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-right: 25px;
  cursor: pointer;
}
.isClicked {
  background-color: rgb(240,240,240);
  color: black;
}
